<footer>
	<section id="contact" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p><b>angelo</b>[dot]<b>didonato</b>[at]<b>pm</b>[dot]<b>me</b></p>
				</div>


		</div>
		</div>

	<div class="container">
		<div class="row">


<div class="fa-8x">
			<div class="col-xs-12 col-md-3">
					<a href="https://www.twitter.com/outofbabylon"><i class="fab fa-twitter"  style="color:Black;"></i></a>
				</div>
<div class="col-xs-12 col-md-2">
					<a href="http://stackoverflow.com/users/4909275/angelo-di-donato"><i class="fab fa-stack-overflow" style="color:Black;"></i></a>
</div>
<div class="col-xs-12 col-md-2">
					<a href="https://keybase.io/adidonato"><i class="fab fa-keybase" style="color:Black;"></i></a>
</div>
<div class="col-xs-12 col-md-2">
					<a href="https://www.linkedin.com/in/angelodidonato"><i class="fab fa-linkedin" style="color:Black;"></i></a>
</div>
<div class="col-xs-12 col-md-3">
					<a href="https://github.com/adidonato"><i class="fab fa-github-square" style="color:Black;"></i></a>
</div>
</div>


				<!-- <b><p> Website Still Kind Of Under Contruction </p></b> -->
			<br>	<p>Copyright &copy; <span id="year"></span> Angelo Di Donato</p>

			</div>
		</div>

		</section>
</footer>
