<footer>
	<section id="contact" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-12 col-xs-12">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>angelo_didonato[at]aol[dot]com</p>
				</div>
				 <div class="col-md-6 col-sm-12 col-xs-12">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONE</h3>
					<p>[plus] 31 - [six]8708401[three]</p>

			</div>

		</div>
		</div>
		
	<div class="container">
		<div class="row">
			<div class="col-md-12">

<div class="fa-5x">
					<a href="https://www.twitter.com/outofbabylon"><i class="fab fa-twitter"  style="color:Black;"></i></a>
					<a href="http://stackoverflow.com/users/4909275/angelo-di-donato"><i class="fab fa-stack-overflow" style="color:Black;"></i></a>
					<a href="https://www.linkedin.com/in/angelodidonato"><i class="fab fa-linkedin" style="color:Black;"></i></a>
				  <a href="https://github.com/adidonato"><i class="fab fa-github-square" style="color:Black;"></i></a>
</div>


				<!-- <b><p> Website Still Kind Of Under Contruction </p></b> -->
				<p>Copyright &copy; <span id="year"></span> Angelo Di Donato</p>

			</div>
		</div>
	</div>
		</section>
</footer>
