<head>
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link /favicon.ico %}">
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Angelo Di Donato | {{ page.title }}</title>
	<meta name="author" content="Angelo Di Donato">
	<meta name="keywords" content="Angelo Di Donato">
	<meta name="description" content="Angelo Di Donato">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/bootstrap.min.css %}">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/animate.min.css %}">

	<!-- Font Icons
   ================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/font-awesome.min.css %}">
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/et-line-font.css %}">

	<!-- Nivo Lightbox CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/nivo-lightbox.css %}">
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/nivo_themes/default/default.css %}">

	<!-- Owl Carousel CSS
   ================================================== -->
   	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/owl.theme.css %}">
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/owl.carousel.css %}">

	<!-- BxSlider CSS
   ================================================== -->
   	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/bxslider.css %}">

   	<!-- Main CSS
   	================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/style.css %}">

	<!-- Google web font
   ================================================== -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
	{% include analytics.html %}

</head>
